@font-face {
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: 100;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/bahnschrift.ttf") format("ttf"),

}

.body {
    display: flex;
    margin: 0%;    
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_header {
    background-color: gray;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0%;
    padding-left: 5vh;
    padding-right: 5vh;
}

.Logo_text {
    font-family: 'Bahnschrift';
    font-style: italic;
    font-size: 7ch;
}

.Logo {
    max-height: 7ch;
}

.sections {
    display: flex;
    flex-grow: 4;
}

.left_aside {
    display: felx;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(207, 207, 207);
}

.main_section {
    display: flex;
    flex-direction: column;
    background-color: rgb(175, 175, 175);
    flex-grow: 8;
}

.right_aside {
    flex-grow: 1;
    background-color: rgb(207, 207, 207);
}

.page_footer {
    flex-grow: 1;
    background-color: gray;
}

.aside_btn {
    max-width: 9%;
}